
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div>
      <%= link_to 'Retour', companies_path, class:"btn-link btn-xs" %>
    </div>
    <h1 class="h1 mb-0 text-gray-800">Ajout des données d'une année financière</h1>
    <p>En mode Create</p>
  </div>
  <p class="mb-4">Ici, il est possible de créer une ligne correspondant à une année avec des données financières.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Informations financières</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">

        <%= render 'form' %>

      </div>
    </div>
